/* Main Variables */

:root {
  /* Backgrounds colors */
  --main-bg-color: #fff;
  --second-bg-color: #3a454d;
  --nav-bg-color: #1d2126;

  /* Color palette */
  --green-color: #23b7a4;
  --gray1-color: #c8cdd0;

  /* Text colors*/
  --main-txt-color: #8d8f92;
  --heading-dark-color: #292f36;
  /* Fonts */
  --ff-main: 'Open Sans', sans-serif;
  --ff-secondary: 'Quattrocento Sans', sans-serif;
}

/* Basic Styles */
body {
  position: relative;
  min-width: 320px;
  font-family: var(--ff-main);
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-secondary);
  font-weight: 500;
}

h2 {
    font-size: 36px;
  }

h3 {
  font-size: 18px;
  font-weight: bold;
}

.top-80 {
  position: relative;
  top: 80px;
}

.p-80 {
  padding: 80px 0;
}

.h-dark {
  color: var(--heading-dark-color);
}

.bg-dark {
  background-color: var(--second-bg-color);
}
